<div class="responseMovie col-sm-5 col-md-3">
  <div class="movieText text-center">
    <img class="movieImage" src="{{pictureUrl}}" />
    <div>Link: <a href="{{link}}" class="movieId">{{movieId}}</a></div>
    <div class="created">{{created}} </div>
    <div class="addedBy">{{addedBy}}</div>
    <h4 class="movieTitle text-center">{{title}}</h4>
  </div>
</div>
