<div class="responseMovie col-md-3">
  <div class="movieText text-center">
    <img class="movieImage" src="{{picture}}" />
    <div>Movie link: <a href="{{link}}" class="movieId">{{movieId}}</a></div>
    Added by: <div class="addedBy">{{addedBy}},</div>
    <div class="created">{{created}}</div>
    <h4 class="movieTitle text-center">{{title}}</h4>
  </div>
  <div class="movieButtons text-center">
    <button id="updateMovie" class="btn btn-primary">Edit</button>
    <button id="deleteMovie" class="btn btn-danger">Delete movie</button>
  </div>
</div>
